:root {
    --gray1: hsla(0, 0%, 20%, 1);
    --gray2: hsla(0, 0%, 31%, 1);
    --light-gray: hsla(0, 0%, 74%, 1);
}

/* Typography
========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.header-404 {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    color: var(--gray1);
    text-transform: uppercase;
    font-size: 1.5rem;
}


h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 4rem;
    color: var(--gray1);
}

p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--gray2);
}

button {
    background-color: var(--gray1);
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 0.88rem;
    font-weight: 700;
}

.attribution {
    color: var(--light-gray);
    font-weight: 400;
    font-size: 0.88rem;
}

.username {
    font-weight: 700;
}

/* MAIN
========================================================================== */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-left: 5%;
    flex: 1;
}

.header-container {   
    margin-top: 20px;
}

section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 440px;
}

.text-container {
    width: 40%;
}

button {
    display: block;
}

footer {
    justify-content: flex-end;
}

/* RESPONSIVENESS
========================================================================== */

@media only screen and (max-width: 768px) {

    section {
        flex-direction: column;
    }
    img {
        width: 70%;
    }

    .text-container {
        width: 80%;
    }
  }

